version: '3'

services:
 
  api:
    container_name: api
    image: api-ia-aws:latest
    volumes:
      - ./images:/app/images
      - ./logs:/app/logs
      - ./assets:/app/assets
      - ./src:/app/src
    environment:
      PORT: 8000
      VIRTUAL_HOST: 0.0.0.0, 127.0.0.1, 44.205.83.127, alex.ralejandro.com
      VIRTUAL_PORT: 8000
      LETSENCRYPT_HOST: alex.ralejandro.com
      LETSENCRYPT_EMAIL: ralejandrobm@gmail.com
    ports:
      - '8000:8000'
    restart: "always"
    networks:
      - web
    command: [ "python", "app.py", "--app", "ApiApp" ]

  cron-scrap-mibici:
    container_name: scrap-mibici
    image: api-ia-aws:latest
    volumes:
      - ./images:/app/images
      - ./logs:/app/logs
      - ./assets:/app/assets
      - ./src:/app/src
    environment:
      - CRON_FILE_NAME=scrapmibici

networks:
  web:
    external: true
